<h2>
    My Heros
</h2>

<ul class="heroes">
    <li *ngFor="let i of heroes" (click)="onSelect(i)" [class.selected]="i == selectedHero">

        <span class="badge"> {{i.id}} </span>{{i.name}}
    </li>

</ul>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label for="hero-name">Hero Name:</label>
        <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="Name">
    </div>
</div>